<div>
  <div>
    <header style="background-color: white; width: 100%;">
      <div class="container-fluid">
        <div class="navbar-header">
          <img style="height: 40px; width: 120px;" src="../../assets/img/logo.png"
            alt="logo image">
        </div>
      </div>
    </header>
  </div>
  <div style="background-color: #262626a8;">
    <h1 style="text-align: center;  color: white;">About Application</h1>
  </div>
  <div>
    <br>
    <ul style="left: 10%; position: relative;">
      <li>It is a user management application</li>
      <li>Created by: <b>Rishav Kumar</b></li>
    </ul>
    <ul style="left: 10%; position: relative;">
      <span>Follow on:</span>
      <li>Twitter: <a href="">Rishav Kumar</a></li>
      <li>Facebook: <a href="">Rishav Verma</a></li>
      <li>LinkedIn: <a href="">Rishav Kumar</a></li>
    </ul>
    <ul style="left: 10%; position: relative;">
      <span>Contact Details:</span><br>
      &nbsp;&nbsp;<small>Phone No.: 8512033847</small><br>
      &nbsp;&nbsp;<small>Email: Rishav.Kumar@watchguard.com</small><br>
      &nbsp;&nbsp;<small>Address: C-62, Uttam Nagar East, New Delhi-110059</small>
    </ul>

</div>
<br>

<div class="footer">
    <ul>
      <small>English (UK)</small><br>
      <a href="/about">About</a><br>
      <small>User Management App © 2020</small>
    </ul>
    
  </div>
</div>
  